<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>EquipTrak</title>
		<!-- Latest compiled and minified CSS -->
		<link
			rel="stylesheet"
			href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"
		/>

		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<!-- Latest compiled JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
		<script src="{{ url_for('static', filename='js/main.js')}}"></script>
	</head>
	<body>
		<div class="container">
			<nav class="navbar navbar-inverse"></nav>
			<main>
				<h1>Check Out</h1>
				<form action="/checkout" method="post">
					<div class="form-group">
						<label for="equipment">Equipment ID</label>
						<input
							type="text"
							list="equipId"
							name="equipId"
							value=""
							class="form-control custom-select custom-select-sm"
						/>
						<datalist id="equipId" class="custom-select custom-select-sm">
							{% for item in equip %}
							<option value="{{ item.equip_id }}"></option>
							{% endfor %}
						</datalist>
					</div>
					<label id="status" for="statusID"
						>Status: <span id="StatusId" name="statusID"></span
					></label>
					<div class="form-group">
						<label for="conditions">Condtion</label>
						<input
							type="text"
							list="conditions"
							name="conditions"
							value=""
							class="form-control col-sm-6 custom-select custom-select-sm"
						/>
						<datalist id="conditions" class="custom-select custom-select-sm">
							{% for item in conditions %}
							<option value="{{ item.id }}-{{ item.condition }}"></option>
							{% endfor %}
						</datalist>
					</div>
					<div class="form-group">
						<label for="comments">Comments</label>
						<textarea
							name="comments"
							id="comments"
							cols="30"
							rows="10"
							class="form-control"
						></textarea>
					</div>
					<div class="form-group">
						<input type="submit" value="Check Out" class="btn btn-primary" />
					</div>
				</form>
			</main>
		</div>
	</body>
</html>
