<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>EquipTrak</title>
		<!-- Latest compiled and minified CSS -->
		<link
			rel="stylesheet"
			href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"
		/>

		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<!-- Latest compiled JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
		<script src="{{ url_for('static', filename='js/main.js')}}"></script>
	</head>
	<body>
		<div class="container">
			<nav class="navbar navbar-inverse"></nav>
			<main>
				<h1>Equipment List</h1>
				<table class="table table-striped table-hover">
					<thead>
						<tr>
							<th scope="col">ID</th>
							<th scope="col">Equipment ID</th>
							<th scope="col">Manufacturer / Model</th>
							<th scope="col">Serial Number</th>
							<th scope="col">Current Status</th>
							<th scope="col">Last Used By</th>
							<th scope="col">Last Time Used</th>
						</tr>
					</thead>
					<tbody>
						{% for item in equip %}
						<tr onclick="window.location='/equipments/{{ item.ID }}';">
							<td scope="row">{{ item.ID }}</td>
							<td>{{ item['Equipment ID'] }}</td>
							<td>{{ item.manufacturer }} - {{ item.model }}</td>
							<td>{{ item.serial }}</td>
							<td>{{ item.status }}</td>
							<td>{{ item.first_name }} {{ item.last_Name }}</td>
							<td>{{ item.lastCheckoutTime }}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</main>
		</div>
	</body>
</html>
