<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>EquipTrak</title>
		<!-- Latest compiled and minified CSS -->
		<link
			rel="stylesheet"
			href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"
		/>

		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<!-- Latest compiled JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
		<script src="{{ url_for('static', filename='js/main.js')}}"></script>
	</head>
	<body>
		<div class="container">
			<nav class="navbar navbar-inverse"></nav>
			<main>
				<h1>User Status</h1>
				<div class="container">
					<div class="form-group">
						<label for="userName">User Name</label>
						<input
							type="text"
							name="userName"
							id="userName"
							class="form-control"
							value="{{ user.user_name }}"
						/>
					</div>
					<div class="form-group">
						<label for="firstName">First Name</label>
						<input
							type="text"
							name="firstName"
							id="firstName"
							class="form-control"
							value="{{ user.first_name }}"
						/>
					</div>
					<div class="form-group">
						<label for="lastName">Last Name</label>
						<input
							type="text"
							name="lastName"
							id="lastName"
							class="form-control"
							value="{{ user.last_name }}"
						/>
					</div>
					<div class="form-group">
						<label for="email">Email</label>
						<input
							type="text"
							name="email"
							id="email"
							class="form-control"
							value="{{ user.email }}"
						/>
					</div>
					<div class="form-group">
						<label for="userStatus">User Status</label>
						<input
							type="text"
							name="userStatus"
							id="userStatus"
							class="form-control"
							value="Active/Unactivte"
						/>
					</div>
				</div>
				<div class="container">
					<h1>Equipment Usage History</h1>
					<table class="table table-striped">
						<thead>
							<tr>
								<th scope="col">Equipment ID</th>
								<th scope="col">Manufacturer - Model</th>
								<th scope="col">Checkout Time</th>
								<th scope="col">Checkin Time</th>
							</tr>
						</thead>
						<tbody>
							{% for item in trans %}
							<tr onclick="window.location='/transaction/{{ item.trans_id }}';">
								<td>{{ item.equip_id }}</td>
								<td>{{ item.manufacturer }} {{ item.model }}</td>
								<td>{{ item.checkout_time }}</td>
								<td>{{ item.checkin_time }}</td>
							</tr>

							{% endfor %}
						</tbody>
					</table>
				</div>
			</main>
		</div>
	</body>
</html>
