<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>EquipTrak</title>
		<!-- Latest compiled and minified CSS -->
		<link
			rel="stylesheet"
			href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"
		/>

		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<!-- Latest compiled JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
		<script src="{{ url_for('static', filename='js/main.js')}}"></script>
	</head>
	<body>
		<div class="container">
			<nav class="navbar navbar-inverse"></nav>
			<main>
				<h1>User List</h1>
				<table class="table table-striped table-hover">
					<thead>
						<tr>
							<th scope="col">ID</th>
							<th scope="col">User Name</th>
							<th scope="col">Name</th>
							<th scope="col">Email</th>
							<th scope="col">User Status</th>
							<th scope="col">Action</th>
						</tr>
					</thead>
					<tbody>
						{% for user in users %}
						<tr onclick="window.location='/users/{{ user.id }}';">
							<td scope="row">{{ user.id }}</td>
							<td>{{ user.user_name }}</td>
							<td>{{ user.first_name }} {{ user.last_name }}</td>
							<td>{{ user.email }}</td>
							<td>Active/Unactive</td>
							<td>Activate/Deactivate</td>
						</tr>

						{% endfor %}
					</tbody>
				</table>
			</main>
		</div>
	</body>
</html>
