{% if session['login'] == true %}
<div class="container-fluid d-flex">
	<div class="navbar-header mr-auto">
		<a class="navbar-brand" href="#">EquipTrak</a>
	</div>
	<ul class="nav navbar-nav mr-auto">
		<li><a href="/">Home</a></li>
		<li><a href="/checkout">Checkout</a></li>
		<li><a href="/users">Users</a></li>
		<li><a href="/equipments">Equipments</a></li>
		<li><a href="/equipments/new">Add New Equipment</a></li>
	</ul>
	<ul class="nav navbar-nav ml-auto">
		<li><a href="/logout">Logout</a></li>
	</ul>
</div>
{% else %}
<div class="container-fluid">
	<div class="navbar-header">
		<a class="navbar-brand" href="#">EquipTrak</a>
	</div>
	<ul class="nav navbar-nav col-sm-10">
		<li><a href="/">Home</a></li>
		<li><a href="/register">Create User</a></li>
	</ul>
</div>
{% endif %}
