{% if session['login'] == true %}
<div class="container-fluid">
	<div class="navbar-header">
		<a class="navbar-brand" href="#">EquipTrak</a>
	</div>
	<ul class="nav navbar-nav">
		<li class="active"><a href="#">Home</a></li>
		<!-- <li><a href="/">Login</a></li> -->
		<!-- <li><a href="/register">Create User</a></li> -->
		<li><a href="/checkout">Checkout</a></li>
		<li><a href="/equipments">Equipments</a></li>
		<li><a href="/newEquipment">Add New Equipment</a></li>
		<li><a href="/users">Users</a></li>
	</ul>
</div>
{% else %}
<div class="container-fluid">
	<div class="navbar-header">
		<a class="navbar-brand" href="#">EquipTrak</a>
	</div>
	<ul class="nav navbar-nav">
		<li class="active"><a href="#">Home</a></li>
		<li><a href="/">Login</a></li>
		<li><a href="/register">Create User</a></li>
	</ul>
</div>
{% endif %}
